
    :host {
      display: flex;
      border-radius: 10px;
    }

    .example-pizza-party {
      background-color: #d5ffca;
      color: rgb(16, 194, 16);
    }

    .update-snackbar{
      background-color: rgb(228, 246, 255);
      color:rgb(20, 6, 150);
    }

    .delete-snackbar{
      background-color: rgb(248, 217, 217);
      color:rgb(150, 6, 6);
    }
  