label{
    color:brown;
    font-weight: bolder;
    font-family: cursive;
}
select{
    width: 15%;
}
.myop{
    width: 1%;
}
/* input{
    width: 75%;
} */
.nooff{
    border: 0.5px solid blue ;
    border-radius: 150%;
    padding: 5px;
    width: 150%;
    color: white;
    background-color: blue;
}
mat-form-field{
    width: 49%;
}

/* .button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.3em 1em;
    border: mediumspringgreen solid 0.15em;
    border-radius: 0.25em;
    color: rgb(0, 250, 62);
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
  }
  
  .button p {
    z-index: 1;
  }
  
  .button:hover {
    color: #db0909;
  }
  
  .button:active {
    border-color: teal;
  }
  
  .button::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: aqua;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  .button::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .button::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .button:hover:before {
    transform: translateX(-1em);
  }
  
  .button:hover:after {
    transform: translateX(1em);
  }
  
  .button:active:before,
  .button:active:after {
    background: teal;
  }*/

  .hov:hover{
    background-color: aqua;
    color: #000;
    border: 1px solid aqua;
    border-radius: 30px;
    font-weight: bolder;
  }

  .hov{
    color:yellow;
    background-color: #000;
    
  } 

  /* .button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.4rem 1rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
   }
   
   .button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .button:hover span {
    color: black;
   }
   
   .button::before,
   .button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .button:hover::before {
    transform: translate3d(100%, 0, 0);
   } */





   .button {
    position: relative;
    padding: 6px 15px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    background-color: rgb(238, 142, 142);
    color: #000000;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 1px 1px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: white
  }
  
  .button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
   