<div class="container mt-4">
    <!-- <div *ngIf="show" style="border: 1px solid rgb(202, 196, 196); border-radius: 5px;">
        <h3 style="color: #056905; text-align: center;">Saved Successfully</h3>
        <button style="width: 90px; text-align: center; margin-bottom: 5px;margin-left: 5px;" class="btn btn-info" (click)="unShow()">Ok</button>
    </div> -->
    <br>
    <div class="card" style=" background-color: #f7fcfc; ">
        <div style="padding: 20px;">
            <h1 style="color: #38788d; font-family: cursive;"><span style="color: rgb(74, 74, 128);"><mat-icon>build</mat-icon></span> Build quotation for your product</h1>
            <p style="text-align: right; color: purple;" *ngIf="fieldCount>0">Number of fields added : 
                <span class="nooff"><span *ngIf="fieldCount<=9">0</span>{{fieldCount}}</span></p>
        <form enctype="multipart/form-data">
            <!-- <div class="form-group">
                <label for="field">Field  <span style="color: red;">*</span></label>
                <input type="text" [(ngModel)]="field" [ngModelOptions]="{standalone:true}" class="form-control"
                    id="field" name="field" placeholder="ex:- product">
            </div> -->
            <section>
                <label class="example-margin">please select data type:</label>
                <mat-radio-group [(ngModel)]="dtype" [ngModelOptions]="{standalone:true}">
                  <mat-radio-button value="String">
                    String
                  </mat-radio-button>&nbsp;
                  <mat-radio-button value="Number">
                    Number
                  </mat-radio-button>&nbsp;
                  <mat-radio-button value="Date">
                    Date
                  </mat-radio-button>&nbsp;
                  <mat-radio-button value="Calc">
                    Derivation
                  </mat-radio-button>&nbsp;
                  <mat-radio-button value="Desc">
                    Description
                  </mat-radio-button>
                  
                  <mat-radio-button class="example-margin" value="File">
                    File
                  </mat-radio-button>
                </mat-radio-group>
              </section><br>
            <mat-form-field *ngIf="dtype!='File'">
                <mat-label>Field</mat-label>
                <input matInput placeholder="Ex. Product" type="text" [(ngModel)]="field" [ngModelOptions]="{standalone:true}"
                id="field" name="field">
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            
            <!-- <div class="form-group" *ngIf="dtype==='String'">
                <label for="value">Value <span style="color: red;">*</span> <span style="color: rgb(179, 174, 174);">--String</span></label>
                <input type="text" [(ngModel)]="value" [ngModelOptions]="{standalone:true}" class="form-control"
                    id="value" name="value" placeholder="ex:- shoe">
            </div> -->
            <mat-form-field *ngIf="dtype==='String'">
                <mat-label>Value--string</mat-label>
                <input matInput placeholder="Ex. Shoe" type="text" [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                id="value" name="value">
            </mat-form-field>
            
            <!-- <div class="form-group"  *ngIf="dtype==='Number'">
                <label for="value">Value <span style="color: red;">*</span> <span style="color: rgb(179, 174, 174);">--Number</span></label>
                <input type="number" [(ngModel)]="value" [ngModelOptions]="{standalone:true}" class="form-control"
                    id="value" name="value" placeholder="ex:- 100">
            </div> -->
            <mat-form-field *ngIf="dtype==='Number'">
                <mat-label>Value--number</mat-label>
                <input matInput placeholder="Ex. Shoe" type="number" [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                id="value" name="value">
            </mat-form-field>

            <!-- <div class="form-group"  *ngIf="dtype==='Date'">
                <label for="value">Value <span style="color: red;">*</span> <span style="color: rgb(179, 174, 174);">--Date</span></label>
                <input type="date" [(ngModel)]="value"  [ngModelOptions]="{standalone:true}" class="form-control"
                    id="value" name="value" placeholder="">
            </div> -->
            <mat-form-field *ngIf="dtype==='Date'">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                id="value" name="value">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            
            <!-- <div class="form-group"  *ngIf="dtype==='Desc'">
                <label for="value">Value <span style="color: red;">*</span> <span style="color: rgb(179, 174, 174);">--description</span></label>   
                <textarea  rows="3" [(ngModel)]="value" [ngModelOptions]="{standalone:true}" class="form-control"
                id="value" name="value" placeholder="Ex :- type something about your product"></textarea>
            </div> -->
            <mat-form-field *ngIf="dtype==='Desc'" style="width: 50%;">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                id="value" name="value"></textarea>
            </mat-form-field>
              <div *ngIf="dtype==='File'" class="mb-3" style="width: 50%;">
                <p><b>&nbsp;&nbsp;Add Image</b></p>
                <input class="form-control" type="file" (change)="onFileSelected($event)"/>
              </div>
            <form *ngIf="dtype==='Calc'">
                
                <div class="input-group" style="width: 75%;">
                    <select class="form-select" name="op1" id="op1" [(ngModel)]="op1" [ngModelOptions]="{standalone:true}">
                        <option selected disabled>operand 1</option>
                        <option *ngFor="let det of productQ" [value]="det.value">{{det.field}}</option>
                    </select>&nbsp;&nbsp;&nbsp;
                    <select class="form-select myop" aria-label="Default select example" name="op" id="op" [(ngModel)]="op" [ngModelOptions]="{standalone:true}">
                        <option selected disabled>operation</option>
                        <option *ngFor="let operation of operations" [value]="operation.viewValue">{{operation.viewValue}}</option>
                    </select>&nbsp;&nbsp;&nbsp;
                    <select class="form-select" aria-label="Default select example"  name="op2" id="op2" [(ngModel)]="op2" [ngModelOptions]="{standalone:true}">
                        <option selected disabled>operand 2</option>
                        <option *ngFor="let det of productQ" [value]="det.value">{{det.field}}</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button  class="btn btn-success" (click)="doCalc()">Calculate</button>
                </div>  <br>
                
                <!-- <div class="form-group">
                    <label for="value">Value <span style="color: red;">*</span> <span style="color: rgb(179, 174, 174);">--calc</span></label>
                    <input type="number" [(ngModel)]="value" [ngModelOptions]="{standalone:true}" class="form-control"
                        id="value" name="value" placeholder="">
                </div> -->
                <mat-form-field>
                    <mat-label>Value--calc</mat-label>
                    <input matInput placeholder="Ex. Shoe" type="text" [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                    id="value" name="value">
                </mat-form-field>
            </form>
            
            <br>
           <!-- <div style="text-align: center;">
            <button style="margin-bottom: 30px;" type="submit" class="btn  mt-4 hov"
            (click)="save()" ><span><mat-icon>save</mat-icon></span> Save Product</button>
        
             <button style="margin-left: 70px;  margin-bottom: 30px;" type="submit" class="hov btn  mt-4"
            (click)="add()"><span><mat-icon>add</mat-icon></span> Add Field</button>
           </div> -->
           <div style=" display: flex; justify-content: center;">
            <div>
              <button class="button" (click)="save()" type="submit"><span><mat-icon>save</mat-icon></span>
                <span>Save</span>
              </button>
            </div>
            <div>
              <button class="button" style="margin-left: 70px;" (click)="add()" type="submit"><span><mat-icon>add</mat-icon></span>
                <span>Add Field</span>
              </button>
            </div>
           </div>

           
        
        </form>
        </div>
        
    </div>
   
</div>
