<div class="container mt-4">
    <br>
    <div class="card" style=" background-color: #f7fcfc; ">
        <div style="padding: 20px;">
            <h1 style="color: #38788d; font-family: cursive;">📄 Build quotation for your product</h1>
            <!-- <p style="text-align: right; color: purple;" *ngIf="fieldCount>0">Number of fields added : 
                <span class="nooff"><span *ngIf="fieldCount<=9">0</span>{{fieldCount}}</span>
            </p> -->
       <div style="display: flex; justify-content: space-between;">
        <div>
          <form enctype="multipart/form-data">
            <section>
                <label class="example-margin">please select data type:</label>
                <mat-radio-group [(ngModel)]="dtype" [ngModelOptions]="{standalone:true}">
                  <mat-radio-button value="String">
                    String
                  </mat-radio-button>&nbsp;
                  <mat-radio-button value="Number">
                    Number
                  </mat-radio-button>&nbsp;
                  <mat-radio-button value="Date">
                    Date
                  </mat-radio-button>&nbsp;
                  <mat-radio-button value="Desc">
                    Description
                  </mat-radio-button>
                  <mat-radio-button class="example-margin" value="File">
                    File
                  </mat-radio-button>
                  &nbsp;&nbsp;
                      <button (click)="startDerive()" class="btn btn-dark ">
                        <!-- <mat-radio-button  value="Calc" >
                          Derivation
                        </mat-radio-button> -->
                        derivation
                      </button>
                </mat-radio-group>
              </section><br>
            <mat-form-field *ngIf="dtype!='File'">
                <mat-label>Field</mat-label>
                <input matInput placeholder="Ex. Product" type="text" [(ngModel)]="field" [ngModelOptions]="{standalone:true}"
                id="field" name="field">
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            
            <mat-form-field *ngIf="dtype==='String'">
                <mat-label>Value--string</mat-label>
                <input matInput placeholder="Ex. Shoe" type="text" [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                id="value" name="value">
            </mat-form-field>
           
            <mat-form-field *ngIf="dtype==='Number'">
                <mat-label>Value--number</mat-label>
                <input matInput placeholder="Ex. Shoe" type="number" [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                id="value" name="value">
            </mat-form-field>

            <mat-form-field *ngIf="dtype==='Date'">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                id="value" name="value">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field *ngIf="dtype==='Desc'" style="width: 50%;">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="value" [ngModelOptions]="{standalone:true}"
                id="value" name="value"></textarea>
            </mat-form-field>
              <div *ngIf="dtype==='File'" class="mb-3" style="width: 50%;">
                <p><b>&nbsp;&nbsp;Add Image</b></p>
                <input class="form-control" type="file" (change)="onFileSelected($event)"/>
              </div>
            
            <br>
           <!-- <div style="text-align: center;">
            <button style="margin-bottom: 30px;" type="submit" class="btn  mt-4 hov"
            (click)="save()" ><span><mat-icon>save</mat-icon></span> Save Product</button>
        
             <button style="margin-left: 70px;  margin-bottom: 30px;" type="submit" class="hov btn  mt-4"
            (click)="add()"><span><mat-icon>add</mat-icon></span> Add Field</button>
           </div> -->
           <div style=" display: flex; justify-content: center;">
            <div>
              <button class="button" (click)="save()" type="submit"><span><mat-icon>save</mat-icon></span>
                <span>Save</span>
              </button>
            </div>
            <div>
              <button class="button" style="margin-left: 50px;" (click)="add()" type="submit"><span><mat-icon>add</mat-icon></span>
                <span>Add Field</span>
              </button>
            </div>
          
           </div>
        
        </form>
        </div>

        <div>
          <h3 style="color: brown; font-family: cursive;">Added fields&nbsp;:&nbsp;
            <span>{{productQ.length}}</span>
          </h3>
          <span *ngIf="productQ.length!=0" style="background-color: rgb(195, 248, 195); height: 50px;">
            <p *ngFor="let data of productQ; let i=index">{{data.field}}&nbsp;&nbsp;:&nbsp;&nbsp;{{data.value}}
              <button mat-fab color="warn" style="width: 25px; height: 25px;" type="submit" 
              (click)="removeField(i)">
              <mat-icon style="font-size: 120%; margin-top: 10px;margin-left: 1px;">delete</mat-icon>
              </button>
            </p>
          </span>
        </div>
       </div>
        </div>
        
    </div>
   
</div>
